body {
    background-color: #B3E8E5;
}

input[type=text], select {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #036371;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li a {
    list-style: none;
    display: block;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item{

    width: 129px;
    height: 39px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;

    text-decoration: none;
}

.wyloguj-button{

    flex: none;
    order: 0;
    flex-grow: 0;

    width: 129px;
    height: 39px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;

    text-align: right;
    text-decoration: none;
    
}

.search-button{
    box-sizing: border-box;

    margin-top: 1%;
    margin-bottom: 1%;
    
    text-align: left;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 65px;
    height: 65px;
    top: 268px;
    left: 15px;

    background: #B3E8E5;
    border: 5px solid #036371;
    border-radius: 75px;

    background-image: url('searchicon.png');
    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}

.search-bar{
    box-sizing: border-box;

    margin-top: 1%;
    margin-bottom: 1%;
    
    text-align: center;
    box-sizing: border-box;

    width: auto;
    height: 65px;
    top: 268px;

    background-image: url('searchicon.png');

    background: #B3E8E5;
    border: 5px solid #036371;
    border-radius: 75px;   
}

.add-con{
    box-sizing: border-box;

    /* Auto layout */

    margin-top: 11%;
    margin-bottom: 1%;

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

    width: 70%;
    height: 591px;
    left: 20px;

    background: #2F8F9D;
    border: 3px solid #036371;
    border-radius: 15px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.con-item{
    position: relative;
    width: fill;
    height: 59px;
    
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 42px;
    line-height: 59px;
    /* identical to box height */
    
    text-align: center;
    
    color: #ffffff;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.con-secondary-item{
    position: relative;
    width: auto;
    height: 39px;
    right: 20%;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;

    text-decoration: none;
}

.component, .component-wide{
    text-align: right;
    box-sizing: border-box;

    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 75px;
    
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
}

.component{
    margin-top: 1%;
    margin-bottom: 1%;

    width: auto;
    height: 58px;

    color: #036371;

    background: #B3E8E5;
    border: 3px solid #8D9293;
}

.component-wide{
    padding-right: 0%;
    width: 150%;
    height: 64px;

    color: #036371;

    background: #B3E8E5;
    border: 3px solid #036371;
}

.component-line, .component-line-right{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.component-line{
    margin-left: 12%;
    width: 74%;
}

.component-line-right{
    width: 100%;
}

.component-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.date{
    box-sizing: border-box;

    position: absolute;
    width: 23%;
    height: fit-content;
    right: 5%;
    top: 100px;

    background: #2F589D;
    border: 3px solid #036371;
    border-radius: 15px;
}

.date-up{
    position: relative;
    width: fill;
    display: flex;
}

.column1, .column2 {
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 10px;
  }

.column1 {
    flex-basis: 65%;
}

.column2 {
    flex-basis: 35%;
}

.date-down{
    position: relative;
    width: fill;
    height: fill;
    padding: 10px;
    align-items: flex-end;
    margin-top: auto;
}

.icon-pen, .icon-bin{
    box-sizing: border-box;

    margin-left: 0%;
    
    text-align: right;
    box-sizing: border-box;
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    background: #B3E8E5;
    border: 3px solid #036371;
    border-radius: 75px;

    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

    flex: none;
    order: 4;
    flex-grow: 0;
}

.icon-pen{
    background-image: url('assets/penicon.png');
}

.icon-bin{
    background-image: url('assets/binicon.png');
}

.date-first-item, .date-main-item{
    width: auto;
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    text-align: left;
    justify-content: left;

    font-family: 'Montserrat';
    font-weight: 700;
    line-height: auto;
    color: #FFFFFF;
    text-decoration: none;

    flex-direction: column;
    flex-wrap: wrap;
}

.date-first-item{
    font-size: 20px;
}

.date-main-item{
    font-style: bold;
    font-size: 24px;
}

.date-second-item{
    width: auto;
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    text-align: left;
    justify-content: left;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: auto;
    color: #FFFFFF;
    text-decoration: none;

    flex-direction: column;
    flex-wrap: wrap;
}

.scroll{
    box-sizing: border-box;

    position: absolute;
    width: 2%;
    height: 86%;
    right: 1%;
    top: 100px;

    background: #B3E8E5;
    border: 3px solid #036371;
    border-radius: 75px;
}