@import "Constants.css";

input[type=text], select {
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

input[type=password], select {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.login-main{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-again{
    width: 45%;
    text-align: center;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: #2F9D74;
    border: 3px solid var(--primary-color-dark);
    border-radius: 15px;
}

.login-again>div {
    margin-bottom: 1%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
}