@import "Constants.css";



.reservation-item {
    height: 85vh;
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}


.reservation-item>div:first-child>div:nth-child(2) {
    font-weight: 700;
}

.reservation-item>div>div:nth-child(2) {
    font-weight: 700;
}

.reservation-item>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 95%;
    height: 18%;
    margin-bottom: 1%;

    background: var(--primary-color);
    border: 3px solid var(--primary-color-dark);
    border-radius: 15px;
}

.edit-button, .delete-button{
    background: var(--primary-color-light);
    background-size: 27px;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #036371;
    border-radius: 30px;
    align-items: center;
    width: 50px;
    height: 50px;
}

.edit-button{
    background-image: url('../assets/pen_icon.png');
}

.delete-button{
    background-image: url('../assets/bin_icon.png');
}
.pill-buttons{
    text-align  : right;
    margin-right: 20px;
}