@import "../../styles/Constants.css";


input[type=text],
select {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.zaloguj-button {

    flex: none;
    order: 0;
    flex-grow: 0;

    width: 129px;
    height: 39px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;

    text-decoration: none;

}

.hero-panel {
    text-align: center;
    margin: auto;
    width: auto;
    padding: 100px;
    background-color: var(--primary-color);

}

.pwr-logo {
    width: auto;
    height: 160px;
}

.stupid-button {
    width: auto;
    height: 58px;
    left: 572px;
    top: 190px;

    background: #B3E8E5;
    border-radius: 75px;
}

.stupid-button-green {

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #2F9D74;


}

.stupid-button-room {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #036371;
}

.search-bar {

    margin: auto;

    text-align: center;
    box-sizing: border-box;

    width: 70%;
    height: 100px;
    top: 268px;

    background: #B3E8E5;
    border: 5px solid #036371;
    border-radius: 75px;

    background-image: url('../../assets/search_icon.png');

}

.search-bar-input {
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 30px;
    top: 25px;

    background: #FFFFFF;
    border: 5px solid #036371;
    border-radius: 75px;

}

.search-bar-icon {
    box-sizing: border-box;

    left: 15.1%;
    right: 82.33%;
    top: 32.72%;
    bottom: 63.26%;

    background: #036371;
    border: 5px solid #036371;
}

.hint {
    margin: auto;
    width: 1059px;
    height: 136px;
    left: 190.5px;
    top: 388px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.search-button {
    margin: auto;
    width: 129px;
    height: 39px;
    left: 572px;
    top: 190px;

    background: #B3E8E5;
    border: 3px solid #036371;
    border-radius: var(--pill-corner);

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
}