.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.szukaj{
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  height: 50px;
  width: 50px; 
  border: 0px ridge darkgreen;
  background: url('./assets/search.png');
  background-size: 50px 50px;
  border-radius: 60px; 
  box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -179px;
    margin-left: -321px;
    background-color: #1DAAF1;
  }

  .background{
    width: 100vw;
    height: 100vh;
    background-color: #1DAAF1;
  }

  input[type="text"]{
    background-color: #30B3F1;
    width: 600px; 
        height: 70px;
    color: #FFF; 
    background-color: #30B3F1;
  border: 0px;
  border-bottom: 0px solid #41B9F3;
    font-family: SEGOEUIL;
    font-size: 3em;
    padding: 4px;
    text-align: left; 
                
}

img {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 420px;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
